<p>
    <a [routerLink]="['CreateUser']" class="btn btn-primary">Create User</a>
</p>
<spinner [visible]="isLoading"></spinner>
<table class="table table-bordered" *ngIf="!isLoading">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><a [routerLink]="['EditUser', { id: user.id }]"><i class="glyphicon glyphicon-pencil"></i></a></td>
            <td><i class="glyphicon glyphicon-remove" (click)="deleteUser(user)"></i></td>
        </tr>
    </tbody>
</table>