<h2>Add a User</h2>
<div class="row">
    <div class="col-md-6 well">
        <form>
            <fieldset>
                <legend>General</legend>
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input id="name" class="form-control" type="text" placeholder="full name">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input id="email" class="form-control" type="email" placeholder="name@domain.com">
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label">Phone</label>
                    <input id="phone" class="form-control" type="tel" placeholder="contact number">
                </div>
            </fieldset>
            <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                    <label for="street" class="control-label">Street</label>
                    <input id="street" class="form-control" type="text" placeholder="street name">
                </div>
                <div class="form-group">
                    <label for="suite" class="control-label">Suite</label>
                    <input id="suite" class="form-control" type="text" placeholder="suite number">
                </div>
                <div class="form-group">
                    <label for="city" class="control-label">City</label>
                    <input id="city" class="form-control" type="text" placeholder="city name">
                </div>
                <div class="form-group">
                    <label for="zip-code" class="control-label">Zip Code</label>
                    <input id="zip-code" class="form-control" type="text" placeholder="zip code">
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>